/* html{
    background: lightgray;
} */

.latitude{
    color: white;
    background-color: teal;
    text-emphasis: bold;
    font-size: 40px;
    padding: 15px;
}
nav  {
    background-color: white;
}
.visualizations{
    margin-block: 10px;
}
div img{
    float:left;
}

div e img{
    height: 100px;
    float: left;
}    

h2{
    color:teal;
    background-color: white;
    text-emphasis: bold;
    text-align: left;
    padding: 10px;
}

#Data {
    color: teal
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    text-align: right;
   }
